@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  footer {
    display: none;
  }
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
  html, body {
    padding: 0;
    margin: 0;
  }
  
  header {
    width: 100%;
    height: 115px;
    padding-top: 10px;
    background-color: #73ccd2;
  }
  
  #logo {
    text-align: center;
  }
  
  #logo object:first-child {
    width: 135px;
  }
  
  #reload-icon {
    float: right;
    position: relative;
    right: 60px;
    cursor: pointer;
  }
  
  #race-track {
    margin-top: 71px;
    padding: 0 5%;
  }
  
  #track1 {
    background-color: #53d3d0
  }
  
  #track1 .runner{
    border: solid #009393 3px;
  }
  
  #track2 {
    background-color: #ffd42d;
  }

  #track2 .runner{
    border: solid #E65A0F 3px;
  }
  
  #track3 {
    background-color: #a2da17;
  }

  #track3 .runner{
    border: solid #7D9606 3px;
  }

  #track4 {
    background-color: #d96ab7;
  }

  #track4 .runner{
    border: solid#85159F 3px;
  }
  
  .track {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 10%;
    width: 100%;
    height: 60px;
    border-radius: 9px;
    margin-bottom: 10px;
  }

  .finish-line {
    position: relative;
    width: 18px;
    height: 60px;
    background: rgba(0,0,0,0.3);
  }
  
  .runner {
    border-radius: 9px;
    background-color: #ffffff;
    width: 50px;
    height: 47px;
    box-shadow: inset 4px 1px 1px rgba(68, 68, 68, 0.6);
    align-self: center;
    margin-left: 3px;
  }

  #bioexpert {
    background-image: url(img/bioexpert.jpeg);
    background-size: cover;
    background-position: center;
  }

  #mariposa {
    background-image: url(img/mariposa.png);
    background-size: cover;
    background-position: center;
  }

  #patricia {
    background-image: url(img/patricia.jpg);
    background-size: cover;
    background-position: center;
  }

  #panther {
    background-image: url(img/panther.jpg);
    background-size: cover;
    background-position: center;
  }
  
  footer {
    position: absolute;
    bottom: 0;
    height: 70px;
    width: 100%;
    background-color: #86eaea;
    text-align: center;
    margin-top: 38px;
    padding-top: 0px;
  }
  
  footer div:first-child {
    cursor: pointer;
  }

  footer div img {
    width: 85px;
  }
}


@media only screen and (min-width : 320px) and (max-height: 480px) {
  header {
    height: 80px;
    padding-top: 7px;
  }

  #logo object:first-child {
    width: 100px;
  }

  #race-track {
    margin-top: 50px;
  }

  .track {
    height: 55px;
    margin-bottom: 10px;
  }

  .finish-line {
    height: 55px;
  }
  
  .runner {
    width: 45px;
    height: 42px;
  }

  footer {
    height: 60px;
  }

  footer div img {
    width: 70px;
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
  header {
    height: 80px;
    padding-top: 7px;
  }

  #logo object:first-child {
    width: 100px;
  }

  #race-track {
    margin-top: 50px;
  }

  .track {
    height: 55px;
    margin-bottom: 10px;
  }

  .finish-line {
    height: 55px;
  }
  
  .runner {
    width: 45px;
    height: 42px;
  }

  footer {
    height: 60px;
  }

  footer div img {
    width: 70px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  footer {
    height: 105px;
  }

  footer div img {
    width: 131px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  header {
    height: 120px;
    padding-top: 14px;
  }

  #logo object:first-child {
    width: 150px;
  }

  #race-track {
    margin-top: 81px;
  }

  footer {
    height: 120px;
  }

  footer div img {
    width: 150px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  header {
    height: 120px;
    padding-top: 10px;
  }

  #logo object:first-child {
    width: 150px;
  }

  #race-track {
    margin-top: 72px;
  }

  .track {
    height: 60px;
    margin-bottom: 10px;
  }

  .finish-line {
    height: 60px;
  }
  
  .runner {
    width: 53px;
    height: 50px;
  }

  footer {
    height: 100px;
  }

  footer div img {
    width: 120px;
  }
}

/* XLarge Devices, Wide Screens */
@media only screen and (min-width : 1920px) {
  header {
    height: 192px;
    padding-top: 14px;
  }

  #logo object:first-child {
    width: 240px;
  }

  #race-track {
    margin-top: 120px;
  }

  .track {
    height: 95px;
    margin-bottom: 10px;
  }

  .finish-line {
    height: 95px;
  }
  
  .runner {
    width: 83px;
    height: 80px;
  }

  footer {
    height: 220px;
  }

  footer div img {
    width: 270px;
  }
}

/* XXLarge Devices, Wide Screens */
@media only screen and (min-width : 2560px) {
  header {
    height: 300px;
    padding-top: 24px;
  }

  #logo object:first-child {
    width: 360px;
  }

  #race-track {
    margin-top: 180px;
  }

  .track {
    height: 145px;
    margin-bottom: 10px;
    border-radius: 20px
  }

  .finish-line {
    height: 145px;
  }
  
  .runner {
    width: 125px;
    height: 122px;
    margin-left: 7px;
    border-radius: 20px
  }

  footer {
    height: 250px;
  }

  footer div img {
    width: 320px;
  }
}

@media only screen and (max-height: 600px) {
  footer {
    height: 60px;
  }

  footer div img {
    width: 70px;
  }
}